 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
 }  
   /* navbar code starts from here */
 #navbar{
         width: 100%;
         height: 150px;
         background-color: rgb(255,154,50);
         display: flex;
         align-items: center;
         justify-content: space-between;
          color:#090040;
          position: fixed;
          z-index: 1;
 }
 
 #navbar img{
      width: 85px;
      height: 85px;
      border-radius: 50%;
       margin: 50px;
    box-shadow: 3px 3px 10px black;
      cursor: pointer;
      
 }
 #navbar h4{font-size:50px;
   font-style: italic;
   padding-right: 200px;
 }
  
 .nav ul {
   display: flex; 
   list-style: none;
   gap: 20px; 
   padding-right: 80px; 
   /* font-size: 16px; */
   
 }
 .nav ul li a{
   text-decoration: none;
   color: #090040;
   
 }
 .nav ul li :hover{
 color:#00809D;
 /* text-decoration: underline; */
 }

         /* firstpage  coding starts from here  */
 #firstpage {
           background-color: rgb(247,244,231);
        display: flex;
        padding-top: 150px;

 }
 #firstpage img:hover{
  box-shadow: 5px 4px 8px #6854e8;
  cursor: pointer;
 }
  .main1{
   display: flex;
   justify-content: center;
   align-items: center;
  }  
.home h4:hover{
  text-shadow: 2px 2px 5px black;
  cursor: pointer;

}

 #firstpage h4{
    font-size: 70px;
    color: rgb(65,30,100);
 }
 
 #firstpage p{
   color: rgb(255,154,50);
   font-style: italic; 
   font-size: 20px;
 }
 .home{
padding-top: 150px;
padding-left: 80px;

 }
 .home p{
  line-height: 35px;
 }
             /* second page start from here  */
 #secondpage{
  background-color: rgb(247,244,231); 
  padding-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 #secondpage p{
  position: absolute;
  font-size: 45px;
  color:rgb(65,30,100); 
  /* text-shadow: 2px 2px 4px black;   */
  /* cursor: pointer; */
 }
 
      /* thirdpage start from here  */

  #thirdpage{
    background-color:rgb(247,244,231);  
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
  }
 
   #thirdpage  h2{
    font-size: 40px;
    padding-left: 100px; 
    color:rgb(255,154,50);  
  } 
   #thirdpage p{
  color:rgb(65,30,100);
     font-size: 20px;
    
  } 
 #parent{
    display: flex;
    justify-content: center;
    align-items: center;
     gap:10px;
    width: 100%;
    height: 1000px;  
 }

 .child{
    width: 300px;
    height: 800px;
   margin: 10px 0;
   padding: 0;
   font-size: 16px;
   line-height: 1.5;
    text-align: center;
    flex-direction: column;  
 }
 .child h1{
  color:rgb(255,154,50);
  font-size: 40px;
 }  
 .child img:hover{
  box-shadow: 3px 3px 10px black;
  cursor: pointer;

 }
  .info{
         background-color: rgb(65,30,100);
          color:rgb(247,244,231) ;
          /* border:none; */
          border-color:black;
          font-size: 16px;
          cursor: pointer;
          width: 70px;
          height: 40px;
 }

 .child .info:hover{
  background-color:#7A85C1;
  color: black;
  box-shadow: 3px 3px 10px black;

 }

         /* fourthpage start here */
 #fourthpage{
  width: 100%;
  height: 100%;
  background-color: rgb(65,30,100);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding-top: 150px;
    color: white;
 }
  
 #fourthpage h1{
  font-size: 40px;
    color: white;

 }

 #fourthpage h3{
  font-family: serif;
 }
 #fourthpage p{
  text-align: center;
  line-height: 1.9;
  padding-left: 30px;
  padding-right: 20px;
 }
 #fourthpage .learn{
  width: 120px;
  height: 40px;
  box-shadow: 3px 3px 10px black;
  background-color: rgb(255,154,50) ;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
 }  
      #fourthpage .learn:hover{
        background-color: #ffd90047;
        color:white;
      }

             /* fifthpage start here */

 #fifthpage{
    background-color: rgb(247,244,231);
    padding-left: 150px;
    /* padding-right: 200px; */
    grid-template-columns:  auto auto;
    padding-top: 100px;
    padding-bottom: 100px;
 }
         /* sixthpage start from here  */
 
    #sixthpage{
      /* background-color: rgb(65,30,100); */
      width: 100%;
      height: 100%;
    background-color:  #ffd90047;
      /* margin-top: 40px; */
      /* position: absolute; */
       padding-top: 50px;
    /* position: relative; */
     display: flex;
    justify-content: center;
     align-items: center; 
      /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;  */
    flex-direction: column;
    }    
    #sixthpage h1 {
      color: #090040;
      font-size: 50px;
    }
    
      #sixthpage p{
      /* position: absolute; */
      font-size: 18px;
      text-align: center;
       color:rgb(65,30,100); 
       line-height: 1.7; 
       padding-left: 90px; 
       padding-right: 90px;
        }
        #sixthpage .prayer:hover{
          box-shadow: 5px 6px 10px 4px black;
        }

        #sixthpage h2{
          color: rgb(255,154,50) ;
          font-size: 30px;
        }
         /* seventhpage starts from here  */
    #seventhpage{
      background-color:rgb(247,244,231);
      width: 100%;
      height: 100%;
      display: flex; 
      justify-content: center; 
      align-items: center;
      flex-direction: column;
    }
 
  #seventhpage  h1{
      color: #090040;
      font-size: 50px;
    }
  
   #seventhpage p{
       font-size: 18px;
      text-align: center;
       color:rgb(65,30,100); 
       line-height: 1.7; 
       padding-left: 90px; 
       padding-right: 90px;
    }
    #seventhpage h2{
      color: rgb(255,154,50) ;
          font-size: 30px;
    }
   #seventhpage h3{
       color:rgb(65,30,100);  
    }
    /* eigthpage start from here  */

      #eightpage{
       background-color: #ffd90047 ;
        width: 100%;
      height: 100%;
      display: flex; 
      justify-content: center; 
      align-items: center;
      flex-direction: column;
      }

      #eightpage h1{
        color: #090040;
        font-size: 40px;
      }
      #eightpage p{
        font-size: 18px;
      text-align: center;
       color:rgb(65,30,100); 
       line-height: 1.7; 
       padding-left: 90px; 
       padding-right: 90px;
      }
      .main8{
        display: flex; 
      justify-content: center; 
      align-items: center;
      flex-direction: column;
      }

      .main8 h2{
         color: rgb(255,154,50) ;
        font-size: 30px;
      }
      .main8 h3{
        color: #090040;
      }
      .main8 p{
          font-size: 18px;
      text-align: center;
       color:rgb(65,30,100); 
       line-height: 1.7; 
       padding-left: 90px; 
       padding-right: 90px;
      } 
      .main8 img{
        transition: transform 3s;
      }
      .main8 img:hover{
        transform: translate(-5px);
                /* border-radius: 50%; */
                box-shadow:5px 5px 10px 3px ;
                border-radius: 35%;
                transform: rotate(360deg);
                transform: transform 15s;
      }
      #ninthpage{
        width: 100%;
        height: 100%;
         background-color: rgb(255,154,50);
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
      }


      #ninthpage h1{
        color: #090040;
      font-size: 50px;
      }

      #ninthpage p{
       font-size: 18px;
      text-align: center;
       color:rgb(65,30,100); 
       line-height: 1.7; 
       padding-left: 90px; 
       padding-right: 90px; 
      }
      #ninthpage button{
        width: 120px;
      height: 40px;
    box-shadow: 3px 3px 10px black;
    background-color: rgb(65,30,100);
    border: none;
     cursor: pointer;
    margin-bottom: 20px;
      }
      #ninthpage button:hover{
        color:white;
        background-color: #7A85C1;
      }